@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
html {
    height: 100%;
    background-color: #d8c0a7;
  }

#bg-beige{
  background-color: #d8c0a7;
}

#navbar {
    overflow: hidden;  
    width: 100vw;
    /* padding-left: 28vw; */
}

.bg-beige {
    background-color:  #d8c0a7;
}

.navbar-right {
    float: right;
}

.content{
    height: 100%;
    background-color: #d8c0a7;
    position: relative;
    justify-content: center;
}

.titel{
    font-family: 'vvds';
    padding-top: 3vw;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.navbar-nav > li > .dropdown-menu { 
    background-color: #d8c0a7;
}

.img-about{
    width: 60em;
    float: left;
}
  
.img-svg {
position: absolute;
width: 35em;
height: 25em;
top: -3em;
left: 34em;
}

.col_style{
    padding-top: 3em;
    text-align: left;
}
.theme_header_text{
    color: #7c7cba;
    font-family: 'Poppins';
}

.img-div{
    text-align: right;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container {
    position: relative;
    text-align: center;
  }

.title-about{
    position: absolute;
    top: 8px;
    left: 16px;
}

.nav-link{
    color: #692471 !important;
    font-family: 'vvds';
    text-align: center;
    padding-top: 1em;
    text-decoration: none;
    font-size: 1.4em;
    margin-right: 1.1em;
}

.text{
    text-align: center;
    padding-top: 2em;
    padding-left: 10em;
    padding-right: 10em;
}

.text_section{
    font-family: 'vvds';
    padding-top: 10em;
}

.img-title{
    position: absolute;
    top: 8px;
    right: 16px;
}

.theme_small_text_programm {
    font-size: 2em;
    color: #F8A153;
    font-weight: bolder;
    text-align: center;
    font-family: 'Poppins';
}

.text_style {
    font-size: 2vh;
    color: #4a2051;
    font-family: 'Poppins';
}

#content h1 {
  font-family: 'vvds';
  word-spacing: -0.4em;
}